
h1 ,th {
    
    text-align: center;
    text-decoration:underline;
}
.complete {
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.notComplete {
 
}

.strike {
    text-decoration: line-through;
}

.notStrike {

}
table, body{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 500px;
}

#inputTask {
    width: 400px;
    font-size:14pt;
}

 table, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
button {
    border-radius: 10px;
}

td, tr {
    text-align: center;
}

#addTask:hover, .completeTask:hover {
    color: #050c18ea;
    border: #444a53 solid 1px;
    background: #767a72;
    }
.deleteTask:hover {
    color: #0e1624;
    border: #15171a solid 1px;
    background: #be402f;
        }

html, body, button { 
    background: url("../styles/whitebackground.webp") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
