
h1 ,th {
    
    text-align: center;
    text-decoration:underline;
}
.complete {
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.notComplete {
 
}

.strike {
    text-decoration: line-through;
}

.notStrike {

}
table, body{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 500px;
}

#inputTask {
    width: 300px;
    font-size:14pt;
}

 table, td {
    border: 1px solid black;
    border-collapse: collapse;
}
button {
    border-radius: 10px;
    margin-left: 18px;
}

td, tr {
    margin-left: 18px;
}

#addTask:hover, .completeTask:hover {
    color: #050c18ea;
    border: #0062FF solid 1px;
    background: #b0e770;
    }
.deleteTask:hover {
    color: #0e1624;
    border: #0062FF solid 1px;
    background: #be402f;
        }

/* tr:nth-child(even) {
    background-color: lightgrey;

}
 tr:nth-child(odd) {
    background-color: white;

} */

html, body, button { 
    background: url("../styles/whitebackground.webp") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
 
  /* button {
    position: absolute;
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:10px;
  } */